* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#app {
    display: flex !important;
}

header {
    box-shadow: none;
}

.applock {
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.applock > header > h1 {
    position: relative;
    font-weight: 600;
    font-size: 2rem;
    color: white;
}

.applock > header > h1::before {
    position: absolute;
    top: calc(50% - 4px);
    left: 0;
    content: '';
    background-color:#D62626;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    pointer-events: none;
}

.applock > header > h1::after {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(100% + 4px);
    content: '';
    background-color:#D62626;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    pointer-events: none;
}

.applock main form {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.applock main form > div {
    margin: 0;
    padding-bottom: 1rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;    
    flex-direction: column;
}

.applock main input[type=password] {
    width: calc(100% - 3pt);
    padding:5px;
    margin-left: 1.5pt;
    border-radius: calc(3rem / 2);
    border: 0 none;
    height: calc(3rem - 3pt);
    padding-left: 1rem;
    padding-right: 1rem;
    background: none;    
    box-shadow: 0 0 0 3pt white;
    text-transform: uppercase;
    color: white;
    transition: background-color 0.5s;
}

.applock main input[type=password]::placeholder {
    color: #DF7A16;
    font-size: 0.85rem;
    opacity: 1 !important;
    font-weight: bold;
}

.applock main input[type=password]:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.applock main input[type=submit] {
    width: 100%;
    padding:5px; 
    border-radius: calc(3rem / 2);
    border: 0 none;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: background-color 0.5s;
    background-color: #FF8913;
    text-transform: uppercase;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    margin: 0;
    margin-top: 1rem;
}

.applock main input[type=submit]:hover {
    background-color: rgba(255, 137, 19, 0.55)
}

.applock .alert-error {
    background: #EE2B2B;
    color: white;
    font-weight: 300;
    padding: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.applock .alert-notify {
    background: #2BEE65;
    color: white;
    font-weight: 300;
    padding: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* mobile-first */
@media (max-width: 480px) {
    .applock > header {
        position: fixed;
        top: 10%;
        background: none;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .applock::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
    
        display: block;
        background-image: url('/img/applock_background.jpg');
        background-position: 50%;
        background-size: cover;
        width: 100%;
        height: 100%;
    
        filter: brightness(20%);
    }

    .applock > main {
        background: none;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }

    .applock > main > #text {
        display: none;
    }
}

/* desktop */
@media (min-width: 481px) {
    /*
    header {
        position: fixed;
        top: 0;
        background-color: #0E212D;
        height: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .applock > header > h1 {
        color: white;
        margin-left: 1rem;
    }

    .applock > main > #text {
        display: block;
        color: white;
        margin-bottom: 2rem;
    }

    .applock > main {
        background: #6e828e;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
        margin: auto;
        width: calc(100vw / 3);
        -webkit-box-shadow: -4px 4px 58px -26px rgba(0,0,0,0.53);
        -moz-box-shadow: -4px 4px 58px -26px rgba(0,0,0,0.53);
        box-shadow: -4px 4px 58px -26px rgba(0,0,0,0.53);
    }
    */
    .applock > header {
        position: fixed;
        top: 10%;
        background: none;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .applock::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
    
        display: block;
        background-image: url('/img/applock_background_desktop.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
    
        filter: brightness(20%);
    }

    .applock > main {
        background: none;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin: 0;
    }

    .applock > main > #text {
        display: none;
    }
}