body {
	background: #F5F5F5;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	height: 100vh;
	margin: 0;
	flex-direction: column;
	overflow-x: hidden;
}

*, ::after, ::before {
    box-sizing: border-box;
}

header {
	background-color: #0E212D;
	height: 4rem;
	width: 100%;
	display: flex;
	align-items: center;
}

header > h1 {
	color: white;
	padding-left: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.loanable-card {
	background-color: white;
	width: 100%;
	height: 6rem;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	transition: background-color 0.3s ease;
}

.loanable-card > a {
	position: relative;
	text-decoration: none;
	padding: 0.5rem;
	padding-right: 1rem;
	color: black;
	font-weight: bold;
	background: none;
}

.loanable-card > a::after {
    position: absolute;
    top: calc(50% - 5px / 2);
    left: calc(100% - 11px);
    content: '';
    background-color:rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    pointer-events: none;
}

.loanable-card > span {
	color:rgba(0, 0, 0, 0.54);
}

.loanable-card a:hover {
	color:tomato;
}
/*
.actions {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center
}

.actions > div {
	background: #eee;
	border: solid 2px black;
	border-radius: 5px;
	margin: 1rem;
}

.actions > div > a {
	flex: 1;
	display: flex;
	height: 100%;
	align-items: center;
	text-align: center;
	padding: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
}

.actions > div > a::after {
    position: inherit;
}

.actions > div:hover {
	background: #ccc;
}
*/
table {
	width:100%;
	table-layout: fixed;
}

.tbl-header {
	background-color: rgba(255,255,255,0.3);
}

.tbl-content {
	height:300px;
	overflow-x:auto;
	margin-top: 0px;
	border: 1px solid rgba(255,255,255,0.3);
}

th {
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 12px;
	color: #fff;
	border-bottom: solid 1px rgba(255,255,255,0.1);
}

input[type=submit] {
	cursor: pointer;
}

.alert-notify p {
	margin: 0;
	padding: 0;
}

.alert-error p {
	margin: 0;
	padding: 0;
}

.alert-notify {
	background: #2BEE65;
	color: white;
	font-weight: 300;
	padding: 1.2rem;
	/*position: fixed;
	top: 4rem;
	left: 0;
	right: 0;*/
	width: 100%;
	display: none;
}

.alert-error {
	background: #EE2B2B;
	color: white;
	font-weight: 300;
	padding: 1.2rem;/*
	position: fixed;
	top: 4rem;
	left: 0;
	right: 0;*/
	width: 100%;
	display: none;
}

.active {
	display: block;
}

.float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0E212D;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	transform: none;
	transition: transform 0.3s ease;
	z-index: 1;
}

.my-float {
	margin-top:22px;	
}

.float:hover {
	transform: rotate(45deg);
}

.whitebg {
	background: white;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	pointer-events: none;
}

main form {
	margin: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main form > div {
	margin: 0.5rem;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}

main input {
	padding: 1rem;
	font-size: 1.5rem;
	border: none;
	background: #DEDEDE;
	color: black;
	width: 100%;
}

main input::placeholder {
	color: rgba(0, 0, 0, 0.54);
	opacity: 0.54 !important;
	font-size: 1rem;
}

main input[type=submit] {
	background: #0E212D;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	font-size: 1rem;
	width: 8rem;
	margin: 1rem;
}

main form .options {
	display: flex;
}

main form .options ~ input {
	width: calc(100% - 2.5rem) !important;
}

h2 {
	font-weight: 200;
}

.banner {
	display: flex;
	flex-direction: column;
	background: white;
	width: 100%;
	padding: 2rem;
}

.banner h2 {
	margin: 0;
	text-align: center;
}

.banner p {
	margin: 0;
	text-align: center;
}

.item {
	background: white;
	margin-top: 0.75rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	transition: background 0.3s ease;
}

.actions a, .form a {
	text-decoration: none;
	color: black;
	padding-left: 1rem;
	font-size: 0.95rem;
	font-weight: bold;
}

.actions .item:hover {
	background: rgba(0, 0, 0, 0.1);
}

input[type="radio"], label {
	float: left;
	line-height: 1.6em;
	height: 1.6em;
	margin: 0px 2px;
	padding: 0px;
	font-size: inherit;
	width: initial;
}

input[type="radio"] {
	clear: left;
	margin-left: 1rem;
}

.invited {
	background: white;
	padding: 1.5rem;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

.invited .textarea {
	background: #DEDEDE;
	padding: 1rem;
	width: 100%;
}

.copiable {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.copiable textarea {
	border: none;
	overflow: auto;
	outline: none;
	background-color: transparent;
	resize: none;
	width: 100%;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.invited a {
	background: #0E212D;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	font-size: 1rem;
	padding: 1rem;
	margin: 1rem;
	text-decoration: none;
}

.invited .textarea a {		
	color: rgba(0, 0, 0, 0.54);
	text-decoration: none;
	font-size: 0.8rem;
}

/* mobile-first */
@media (max-width: 480px) {

	main {
		width: 100vw;
		background: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.item {
		width: 100vw;
	}

	#menu-desktop {
		display: none;
	}

	nav {
		height: 0;
	}

	#menuToggle
	{
		display: block;
		position: relative;
		top: calc(-2rem - 8px);
		right: 1rem;
		left: calc(100% - 1rem - 40px);
		
		z-index: 999;
		
		-webkit-user-select: none;
		user-select: none;
	}
	
	#menuToggle input
	{
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		
		cursor: pointer;
		
		opacity: 0;
		z-index: 2; /* place it over the hamburger */
		
		-webkit-touch-callout: none;
	}
	
	/* hamburger icon */
	#menuToggle span
	{
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		
		background: white;
		border-radius: 3px;
		
		z-index: 1;
		
		transform-origin: 4px 0px;
		
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					opacity 0.55s ease;
	}
	
	#menuToggle span:first-of-type
	{
		transform-origin: 0% 0%;
		/*transform: translateX(100px);*/
	}
	
	#menuToggle span:last-of-type
	{
		transform-origin: 0% 100%;
	}
	
	#menuToggle input:checked ~ span:first-of-type
	{
		opacity: 1;
		transform: rotate(45deg) translate(-3px, -6px);
		background: #F5F5F5;
	}
	
	#menuToggle input:checked ~ span:nth-last-of-type(2)
	{
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}
	
	#menuToggle input:checked ~ span:nth-last-of-type(1)
	{
		transform: rotate(-45deg) translate(3px, -1px);
	}
	
	#menu
	{
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -50%;
		padding: 50px;
		padding-top: 125px;
		height: calc(100vh + 49px);
		
		background: #0E212D;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		
		transform-origin: 0% 0%;
		transform: translate(100%, 0);
		
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	
	#menu {
		display: flex;
		flex-direction: column;
	}
	
	#menu .top {
		height: 100%;
	}
	
	#menu .item {
		width: 300px;
		background: rgba(255, 255, 255, 0.1);
		margin-left: calc(100% - 250px);
		margin-top: 0.75rem;
		height: 2.5rem;
		display: flex;
		align-items: center;
		transition: background 0.3s ease;
	}
	
	#menu a {
		text-decoration: none;
		z-index: 3;
	}
	
	#menu .top .item:hover {
		background: rgba(255, 255, 255, 0.5);
	}
	
	#menu .bottom .item {
		background: rgba(6, 107, 107, 0.54);
	}
	
	#menu .bottom .item:hover {
		background: rgba(6, 107, 107, 1);
	}
	
	#menu li {
		color: white;
		padding-left: 1rem;
		font-size: 1rem;
	}
	
	.smaller {
		width: 26px !important;
		margin-left: 7px;
	}
	
	#menuToggle input:checked ~ ul
	{
		transform: none;
	}
	
	#scrim {
		position: fixed;
		background: rgba(0, 0, 0, 0);
		pointer-events: none;
		top: 0;
		left: 0;
		bottom: 0;
		/*right: calc(100vw - 150px + 50px + (1rem - 40px));*/
		right: 0;
		transition: background 0.5s ease;
	}
	
	#menuToggle input:checked ~ #scrim {
		pointer-events: all;
		background: rgba(0, 0, 0, 0.54);
	}	

	#search {
		width: calc(100% - 2rem);
		margin-top: 1rem;
	}
}

/* desktop */
@media (min-width: 481px) {

	#menuToggle {
		display: none;
	}

	#menu-desktop {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		background: none;
	}

	#menu-desktop a {
		flex: 1;
		text-align: center;
		transition: .3s;
		max-width: 20%;
		padding: 2rem 0;
		background-color: white;
		min-width: 10%;
		margin: 1rem 0;
		text-decoration: none;
		color: black;
		position: relative;
	}
	
	#menu-desktop a:hover {
		transition: .5s;
		max-width: 40% !important;
		background: #333;
		flex-grow: 2;
		cursor: pointer;
		color: #fff;
	}

	#menu-desktop a i {
		opacity: 1;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: opacity 0.3s ease;
	}

	#menu-desktop a b {
		opacity: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: opacity 0.3s ease;
	}

	#menu-desktop a:hover i {
		opacity: 0;
	}

	#menu-desktop a:hover b {
		opacity: 1;
	}

	main {
        background: #6e828e;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
        margin: auto;
		width: calc(100vw / 3);
		min-width: 480px;
        -webkit-box-shadow: -4px 4px 58px -26px rgba(0,0,0,0.53);
        -moz-box-shadow: -4px 4px 58px -26px rgba(0,0,0,0.53);
        box-shadow: -4px 4px 58px -26px rgba(0,0,0,0.53);
	}
	
	h2 {
		color: white;
	}

	.banner h2 {
		color: black;
	}

	#scrim {
		display: none;
	}

}