- @header = "Loaned #{loanable_type.loanable_name}s"
search @on-search="onSearch"
- loans.each do |loan|
    loaned-card[
        :keyword="keyword"
        id="#{loan.id}"
        url="/loans/#{type}/#{loan.id}/return"
        card_name="#{loan.loanable.name}"
        subtitle1="#{loan.loanable.subtitle1}"
        subtitle2="#{loan.loanable.subtitle2}"
        loaned_by="#{loan.responsible}"]
div class="hidden"
    - loans.each do |loan|
        loaned-lightbox[
            id="#{loan.id}"
            card_name="#{loan.loanable.name}"
            subtitle1="#{loan.loanable.subtitle1}"
            subtitle2="#{loan.loanable.subtitle2}"
            loaned_by="#{loan.responsible}"
            location="#{loan.location}"
            purpose="#{loan.purpose}"
            loaned_at="#{loan.loaned_at}"
            loaned_count="#{loan.loanable.loaned_count}"]